<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>

        <!-- Main Content -->
        <main class="container">
            
            <center><img class="profilepic" src="/Assets/images/profile.png" alt="profile picture" /></center>
            <div class="about_contents">
                <th><div class="cont_t">
                    Namaste, my name is Dikshant Khadka. I am an international student 
                    from a small part of Nepal and currently live in Canada. I come from 
                    a background where I used to live with a joint family, which included
                     my uncle, aunt, father, mother, brother, and cousin brothers and sisters.
                    <br />
                    Academic Background: Centennial College
                    <br />
                    Major: Software Engineering Technician
                </div>
                <br>
                    As an international student in Canada, I have embraced the opportunity to
                    immerse myself in a diverse and vibrant academic environment. I am constantly seeking new knowledge
                     and experiences to enhance my understanding of programming and technology.
                     I find great joy in collaborating with others and working as part of a team,
                    as it allows us to combine our strengths and bring innovative ideas to fruition.

                    Thank you for taking the time to get to know me. I look forward to the future 
                    with anticipation, as I continue my journey as an international student pursuing 
                    my passion for programming and technology in Canada.
                    <br />
                    You can check my resume by clicking below
                    <br />
                    <br> 
                    <a target="_blank" href="/Assets/resume.pdf"><b>RESUME</b></a>
                
           
                </div>
            </div>
       
        </main>
   

        <%- include partials/bottom_nav.ejs %>

            <%- include partials/footer.ejs %>