<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>

        <!-- Main Content -->
        <main class="container">
            <div class="project_contents">
                <div>
                    <div class="section">
                        <a href="http://studentweb.cencol.ca/dkhadka2/assignment3/assignment3.html"><img src="/Assets/images/shopping1.png" alt="gaminglaptop"></a>
                    </div>
                    <p>
                        This is the my first project where I used my HTMl and CSS skill to create a web page for a gaming laptop brand ASUS.<br>
                        <br>You can click on the image to view more.
                    </p>
                </div>
                <div>
                    <div class="section">
                        <a href="http://studentweb.cencol.ca/dkhadka2/finaltermproject/finalproject.html"><img src="/Assets/images/delivery.jpg" alt="realestate" width="200" height="200"></a>
                    </div>
                    <p>
                     This application was my second project where I created a application called real estate.</br>
                     <br>Yon can click on the image to view more about my app.

                    </p>
                    <br>
                    <br>
                </div>
                <div>
                    <div class="section">
                        <br>
                        <br> <br> <br> 
                        <a href="http://studentweb.cencol.ca/dkhadka2/assignment4/assignment4.html"><img src="/Assets/images/emedical.png" alt="centennial" width="200" height="100"></a>
                    </div>
                    <p>
                        <br> <br> <br> <br> <br>
                        I have created a survey application for Centennial college.<br>
                        Click on the image to view more.
                    </p>
                </div>
            </div>
        </main>

        <%- include partials/bottom_nav.ejs %>

            <%- include partials/footer.ejs %>